*{
    -webkit-box-shadow: 0 0 20 black;
    -moz-box-shadow: 0 0 20 black;
    -ms-box-shadow: 0 0 20 black;
    -o-box-shadow: 0 0 20 black;
    box-shadow: 0 0 20 black;

    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    border-radius:50px;
}

div{
    width: 100px;
    height: 100px;
    margin: 100px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 0px 20px black;

}